@use '../../../libs/ui-core/src/lib/theming/bofa-theme.scss';

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'BoA Sans', Arial, Helvetica, sans-serif;
  background: #fff;
  color: #12161d;
}
